.App {
  text-align: center;
}


.Otsikko {
  text-align: center;
  font-size: xx-large;
}

.Pääruutu {
  z-index:0;
  padding-top: 100px;
  text-align: center;
  background-color :bisque;
  padding-bottom: 250px;
}

.Kalenteri {
  z-index: 0;
  border: 12px;
  border-style: solid;
  border-color: black;
  display: inline-block;
  height: 60vmin;
  width: 90vmin;
  background-color: beige;
}

.Infopaneeli {
  margin-top: 5vmin;
  z-index: 0;
  border: 12px;
  border-style: solid;
  border-color: black;
  display: inline-block;
  height: 60vmin;
  width: 60vmin;
  background-color:yellow;
}

.Kalenteri + .Infopaneeli {
  margin-left: 25px;
}

.Ikkunanraksi {
  border-radius: 25px;
  font-size: 3vmin;
  float:right;
  background-color: white;
  margin-left: 10vmin;
  position: absolute;
  height: 5vmin;
  width: 5vmin;
}

.Valintaboxi {
  font-size: 25px;
  height: 3vmin;
  width: 25vmin;
}

.Lajikenttä input{
  font-size: 25px;
  width: 25vmin;
  height: 2vmin;

}

.Ikkunanraksi:hover {
  background-color: red;
}

.Lisäysikkuna {
  position: absolute;
  margin-left: 37%;
  z-index: 1;
  border-style: solid;
  border-color: black;
  border-width: 15px;
  background-color: white;
  height: 80vmin;
  width: 50vmin;
}

.Kello input{
  font-size: 25px;
  text-align:center;
  width: 12vmin;
}

.Hymynaamat {
  display: flex;
  justify-content: center;
}

.Hymynaamat img{
  margin: 1vmin;
  height: 6vmin;
  width: 10min;
}
.Lisää{
  font-size: x-large;
  margin-top: 2vmin;
  margin-left: 15vmin;
  height: 5vmin;
  width: 12vmin;
}


