.App {
  text-align: center;
}


.Otsikko {
  text-align: center;
  font-size: xx-large;
}

.P채채ruutu {
  padding-top: 100px;
  text-align: center;
  display: block;
  background-color :bisque;
  padding-bottom: 250px;
}

.Kalenteri {
  border: 12px;
  border-style: solid;
  border-color: black;
  display: inline-block;
  height: 60vmin;
  width: 90vmin;
  background-color: beige;
}

.Infopaneeli {
  border: 12px;
  border-style: solid;
  border-color: black;
  display: inline-block;
  height: 60vmin;
  width: 60vmin;
  background-color:yellow;
}

.Kalenteri + .Infopaneeli {
  margin-left: 25px;
}

.Lis채채{
  font-size: x-large;
  margin-top: 2vmin;
  margin-left: 15vmin;
  height: 5vmin;
  width: 12vmin;
}