.App {
  text-align: center;
}


.Otsikko {
  text-align: center;
  font-size: xx-large;
}

.Pääruutu {
  z-index:0;
  padding-top: 100px;
  text-align: center;
  background-color :bisque;
  padding-bottom: 250px;
}

.Kalenteri {
  z-index: 0;
  border: 4px;
  border-style: solid;
  border-color: black;
  display: inline-flex;
  flex-direction: row;
  height: 60vmin;
  width: 90vmin;
  background-color: beige;
}

.viikonpäivä{
  background-color: white;
  margin: 0.5;
  width: 15vmin;
  border-style: solid;
  font-size: x-large;
}
.Infopaneeli {
  position: relative;
  text-align: left;
  z-index: 0;
  border: 4px;
  border-style: solid;
  border-color: black;
  display: inline-flex;
  flex-direction: column;
  height: 60vmin;
  width: 60vmin;
  background-color:beige;
}

.Infopaneeli h1 {
  text-align: center;
}

.Infopaneeli h2 {
  margin-left: 2vmin;
}

.Kalenteri + .Infopaneeli {
  margin-left: 25px;
}

.Ikkunanraksi {
  border-radius: 25px;
  font-size: 3vmin;
  float:right;
  background-color: white;
  margin-left: 17vmin;
  position: absolute;
  height: 5vmin;
  width: 5vmin;
}

.Valintaboxi {
  font-size: 25px;
  height: 3vmin;
  width: 25vmin;
}

.Lajikenttä input{
  font-size: 25px;
  width: 25vmin;
  height: 2vmin;

}

.Ikkunanraksi:hover {
  background-color: red;
}

.Lisäysikkuna {
  position: absolute;
  margin-left: 37%;
  z-index: 1;
  border-style: solid;
  border-color: black;
  border-width: 4px;
  background-color: lightgray;
  height: 75vmin;
  width: 50vmin;
}
.Lisäysnäppäin {
  font-size: x-large;
  height: 5vmin;
  width: 10vmin;
  background-color: white;
}

.Lisäysnäppäin:hover{
  background-color: red;
}

.Kello input{
  font-size: 25px;
  text-align:center;
  width: 12vmin;
}

.Hymynaamat {
  display: flex;
  justify-content: center;
}

.Hymynaamat img{
  border-style:dotted;
  margin: 1vmin;
  height: 6vmin;
  width: 10min;
}

.Hymynaamat img:hover {
  background-color:red;
  border-color: red;
}

.Lisää{
  font-size: x-large;
  margin-top: 2vmin;
  margin-left: 15vmin;
  height: 5vmin;
  width: 12vmin;
}

.boksi{
  text-justify: top;
  text-align: left;
  height: 12vmin;
  width: 30vmin;
}

